{
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "@api": "./src/api",
                    "@screen": "./src/screen",
                    "@component": "./src/component",
                    "@util": "./src/util"
                }
            }
        ]
    ]
}